body {
    background-color: #FFFFFF;
    font-family: Arial, "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/* 导航栏样式 */
nav {
    background-color: #333333;
    padding: 15px;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #333333;
}